.intro-container{
    padding-top: 70px;
    font-size: 18px;
    text-align: center;
    height: 800px;
    background-image:url('../../assets/images/rad-landing.jpg');
    background-attachment: fixed;
    background-position: right;
    background-size:auto;
}


.intro-text{
    padding-top: 70px;
    height: 300px;
    font-size: 2em;
    letter-spacing: 10px;
    font-family: Futura;
}

.arrow-down{
    font-size: 26px;
    margin-top: 350px;
}

@media only screen and (max-width: 991px) {

    .intro-container{
        background-image:url('../../assets/images/rad-landing.jpg');
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1000px;
        min-width: 300px;
    }

    .arrow-down{
        font-size: 22px;
    }

    .intro-text{
        padding-top: 70px;
        min-width: 300px;
        height: 160px;
        font-size: 1.2em;
        letter-spacing: 5px;
        font-family: Futura;
    }


    
     
}