.intro-container{
    position: relative;
    height: 100vh;
    font-size: 18px;
    margin-left: -15px;
    margin-right: -15px;
    
    .intro-content{
        padding: 10px 20px 10px 20px;
        background: #0a141d;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #0a141d, #1b304b);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #0a141d, #1b304b);
    
        .intro-content-logo{
            position: absolute;
            bottom: 30px;
            left: 50px;

            button{
               font-size: 8em;
               font-family: ShareTechMono; 
               background-color: transparent;
               border: none;
               user-select: none;
               outline: none;
               color: #ffffff;
               letter-spacing: 0.5em;
               text-shadow: 6px 6px #161E31;
            }
        }

        
        @media only screen and (max-width: 768px) {

            .intro-content-logo{
                position: absolute;
                bottom: 20px;

                button{
                    font-size: 5em;
                    letter-spacing: 0.4em;
                }
            }

        }

        @media only screen and (max-width: 576px) {

            .intro-content-logo{
                position: absolute;
                bottom: 20%;
                left: 25%;

                button{
                    font-size: 5em;
                    letter-spacing: 0.4em;
                }
            }

        }
    }

    .intro-image{
        background-image: url('../../assets/images/grad.jpg');
        background-size: cover;
        background-position: top;
    }
}

