.nav-menu {
    z-index: 50;
    position: fixed;
    background: #9EFF41;
    min-height: 100vh;
    width: 100%;
}

.nav-menu-overlay{
    z-index: 49;
    position: fixed;
    background: #1A1A2E;
    min-height: 100vh;
    width: 100%;
}

.nav-data {
    padding: 6em 0 0 2em;
    text-align: left;
    width: fit-content;
}

ul {
    list-style: none;
}

a{
    color: white;
    font-family: BebasNeue;
    letter-spacing: 10px;
    font-size: 3em;
    cursor: pointer;
    user-select: none;
    
}

a:link{
    text-decoration: none;
}
