.nav-menu {
    z-index: 4;
    position: absolute;
    background: #101010;
    height: 100%;
    width: 100%;
}


.nav-data {
    padding: 6em 0 0 2em;
    text-align: left;
    width: fit-content;
}

ul {
    list-style: none;
}

a{
    color: white;
    font-family: BebasNeue;
    letter-spacing: 10px;
    font-size: 3em;
    cursor: pointer;
    user-select: none;
    
}

a:link{
    text-decoration: none;
}
