.landing-container{
    position: relative;
    height: 100vh;
    font-size: 18px;
    font-family: ShareTechMono;
    padding-top: 100px;

    h2{
        font-size: calc(1.3em + 1vw);
    }
    
    .landing-arrow{
        font-size: 5em;
        transform: translateY(calc(30vw));
    }

    @media screen and (max-width: 768px) {
        .landing-arrow{
            transform: translateY(70px);
            font-size: 3em;
        }
    }

    @media screen and (max-width: 576px) {

        .landing-arrow{
            font-size: 4em;
            transform: translateY(10px);
        }
    }

}

