.hero{
    padding-top: 70px;
    font-size: 18px;
}

.hero-container{
    position: relative;
}

.hero-image-wrapper{
    width: 100%;
    height: 100%;
    background-color:rgb(245,24,124);
    position: absolute;
}

.hero-image{
    left: -280px;
    top: -40px;
}

.hero-image-footer{
    font-size: 1.3em;
    font-family: Futura;
    letter-spacing: 10px;
}

.hero-header{
    font-family: Futura;
    position: absolute;
    left: -280px;
    top: -40px;
    letter-spacing: 10px;
    font-size: 4em;
}

.hero-tilt-header{
    position: absolute;
    top: 30%;
    width: 100%;
    right: 30%;
    font-family: Monoton;
    letter-spacing: 30px;
    font-size: 7em;
    transform: rotate(90deg);
    color: rgb(245,24,124);
}


/* Responsiveness */

@media only screen and (max-width: 991px) {
    .hero{
        padding-top: 150px;
     }

    .hero-container{
        position: relative;
    }

    .hero-image-wrapper{
        background-color: rgb(245,24,124);
    }
     
    .hero-image{
        min-width: 250px;
        height: auto;
    }

    .hero-image-footer{
        font-size: 1em;
        font-family: Futura;
        letter-spacing: 8px;
    }

    .hero-tilt-header{
        position: absolute;
        top: 20%;
        width: 100%;
        right: 45%;
        font-family: Monoton;
        letter-spacing: 10px;
        font-size: 2em;
        transform: rotate(90deg);
        color: rgb(245,24,124);
    }
     
    .hero-header{
        letter-spacing: 5px;
        font-size: 2em;
        position: absolute;
        left: -150px;
        top: -20px;
    }

 
}