.toggle-btn {
    position: fixed;
    margin: 10px;
    padding: 10px;
    right: 0;
    z-index: 99;
    mix-blend-mode: difference;
}

.logo-container{
    position: fixed;
    margin: 10px;
    padding-left: 5px;
    left: 0;
    top: -42px;
    z-index: 99;
    transform-origin: center;
    
}

.logo-tag{
    height: 105px;
    margin-left: -10px;
    width: 58px;
    background-color: rgb(158,255,65);
}