@font-face {
    font-family: 'BebasNeue';
    src: local('BebasNeue'), url(./assets/fonts/BebasNeue-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url(./assets/fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'BarcodeFont';
  src: local('BarcodeFont'), url(./assets/fonts/BarcodeFont.ttf) format('truetype');
}

@font-face {
  font-family: 'Futura';
  src: local('FutuLt'), url(./assets/fonts/FutuLt.ttf) format('truetype');
}

@font-face {
  font-family: 'Monoton';
  src: local('Monoton-Regular'), url(./assets/fonts/Monoton-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'ShareTechMono';
  src: local('ShareTechMono-Regular'), url(./assets/fonts/ShareTechMono-Regular.ttf) format('truetype');
}