@font-face {
    font-family: 'BebasNeue';
    src: local('BebasNeue'), url(./assets/BebasNeue-Regular.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url(./assets/Poppins-Regular.ttf) format('truetype');
  }