.homepage-container{
    background-color:transparent;
    user-select: none;
    font-family: Futura;

}

.posterImage1{
    padding-top: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.first-text-row{
    margin-top: 200px;
    margin-bottom: 200px;
    height: 300px;
    font-family: Poppins;
    letter-spacing: 10px;
    font-size: 6em;
    text-align: center;
    width: fit-content;

}

.footer-padding{
    text-align: center;
    padding: 50px;
}


/* Responsiveness */

@media only screen and (max-width: 991px) {

     
}